@reference "#tailwind-global.css";

.tile {
  @apply flex flex-col gap-2 items-start overflow-hidden px-4 py-6 rounded-2xl w-full;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
}

.icon {
  @apply relative shrink-0 w-8 h-8;
}

.label {
  @apply text-xl leading-7;
  color: var(--card-text);
  font-family: "Ping AR + LT", sans-serif;
  font-weight: 400;
  min-width: 100%;
}

.channelList {
  @apply list-disc min-w-full;
  padding-inline-start: 30px;
}

.channelItem {
  @apply font-medium text-xl leading-7;
  color: var(--card-text);
  font-family: "Ping AR + LT", sans-serif;
}

@media (max-width: 768px) {
  .label,
  .channelItem {
    @apply text-base leading-6;
  }
}
